.speech {
    font: 15px Arial, sans-serif; 
    font-size: 15px;
    color: black;
}
.direction { 
    font: 15px Times, serif; 
    font-size: 20px;
    color: black;
    background: CornflowerBlue;
}
.name{
    font: 15px Times, serif; 
    font-size: 25px;
    color: black;
}
.direction:hover {
    background-color: yellow;
    color: red;
  }
.LADYSIMS{
    color: rgba(225, 19, 170, 0.806);
    font-weight: bold;
    
}
.SIRHARRY{
    color: violet;
    font-weight: bold;


}
#playname{
    color:rgba(20, 238, 143, 0.806)
}
table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 75%;
    margin-top: 100px;
    text-align: center;
    padding: 15px;
} 
tr:nth-child(even) {background-color: #d7d7d3;}
