.speech {
    font: 15px Arial, sans-serif; 
    font-size: 15px;
    color: black;
}
.direction { 
    font: 15px Times, serif; 
    font-size: 20px;
    color: black;
    background: CornflowerBlue;
}
.name{
    font: 15px Times, serif; 
    font-size: 25px;
    color: black;
}
.direction:hover {
    text-shadow: 2px 2px orange;
    background-color: yellow;
    color: red;
  }
.LADYSIMS{
    color: rgba(225, 19, 170, 0.806);
    font-weight: bold;
    
}
.LADYSIMS:hover{
    text-shadow: 2px 2px rgba(170, 225, 19, 0.806);
    color:rgba(170, 225, 19, 0.806);
    font-size: 30px;
    border-style: solid;
    border-color: yellow;

}
.SIRHARRY{
    color: violet;
    font-weight: bold;
}
.SIRHARRY:hover{
    text-shadow: 0 0 8px rgba(170, 225, 19, 0.806);
    color:rgba(170, 225, 19, 0.806);
    font-size: 25px;
    border-style: solid;
    border-color: yellow;
}
#playname{
    color:rgba(20, 238, 143, 0.806)
}
table, td, th {
    border: 1px solid black;
}
.fa-sharp, .fa-solid, .fa-truck-fast{
    font-size: 250px;
}
table {
    color:dodgerblue;
    border-collapse: collapse;
    width: 75%;
    margin-left: 50px;
    text-align: center;
    padding: 15px;
} 
tr:nth-child(even) {background-color: #d7d7d3;}
